#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  --navbar-height: 64px;
}

/* body {
  padding-top: 64px;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.rounded.btn {
  border-radius: 3px;
  margin: 0 4px;
}

.hyperlink.btn:hover {
  border-color: transparent;
  text-decoration: underline !important;
  text-decoration-color: black !important;
  color: black;
  background-color: transparent;
  background: transparent;
}

.hyperlink.btn {
  border-color: transparent;
  color: black;
  background-color: transparent;
  background: transparent;
}

.filter.btn {
  border-color: transparent;
  color: black;
  background-color: transparent;
  background: transparent;
}

.filter.btn:hover {
  color: white;
  background-color: black;
  /* text-decoration: underline;
  text-decoration-color: white; */
  border: transparent;
}

.normal-button.btn:hover {
  border-color: inherit;
  text-decoration-color: currentColor !important;
  background-color: inherit;
  background: inherit;
}

.carousel-settings {
  width: 100%;
  object-fit: cover;
}

.input-settings {
  margin-bottom: 12px;
  border: 1px solid black;
}

.dropdown-settings {
  width: 150px;
  color: inherit;
}

.sticky-bar {
  position: sticky;
  top: 0; /* Stays at 0px from the top of the viewport once it reaches that position */
  background-color: #f1f1f1;
  padding: 10px;
  z-index: 100; /* Ensure it layers above other content */
  width: 100%;
}

.nav-link-underline:hover {
  text-decoration: underline;
}

.headProfile-container {
  width: 600px; 
  height: 250px; 
  border: 1px solid black;
  flex-Direction: column;
  display: flex;
  border-Radius: 20px;
}

.buttonbar-button {
  background-color: white !important;
  color: red !important;
  /* border: 1px solid black !important; */
  margin-bottom: 10px;
  height: 50px;
  width: 50px;
  cursor: pointer; 
  margin-Left: 11px;
}

.buttonbar-button:hover {
  background-color: lightgray !important;
  color: red !important;
  /* border: 1px solid black !important; */
}

.edit-button {
  width: 30px;
  height: 30px;
  border-Radius: 10px;
  background: inherit;
  /* border: 1px solid black; */
  color: black; 
  position: absolute;
  right: 10px; 
  top: 10px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: lightgray !important;
  color: black !important;
  /* border: 1px solid black !important; */
}

.editEducation-button {
  top: 22px; 
  left: 170px; 
  width: 25px;
  height: 25px; 
  border-Radius: 10px; 
  position: absolute;
  cursor: pointer;
}

.editEducation-button:hover {
  background-color: lightgray !important;
  color: black !important;
  /* border: 1px solid black !important; */
}

.pfp-img {
  border: 1px solid black;
  border-Radius: 100px; 
  display: block;
  width: 100px;
  height: 100px; 
  margin-Top: 10px;
}

.card.educationSettings-card {
  height: 100px;
  border: 1px solid black; 
  margin-Bottom: 10px; 
  border-Radius: 20px;
}

.icons-settings {
  margin-left: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.icons-settings:hover {
  background-color: lightgrey;
  margin-left: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}